.App1 {
background-color: #ccf2f4;
height: 100vh;
   
.Nav button {
    width: 50%;
    height: 10vh;
     border: 2px solid #a4ebf3;
    border-radius: 0.5rem;
    background-color: white;
    font-size: larger;
    font-weight: 700;
}
}